
.bckgrd{
    background-color: blue;
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.ball{
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 75px;   
    animation: projectile1 5s linear 1.5s 1;
}
@keyframes projectile1{
    25%{
        transform: translate3d(200px, -200px, 0);
    }
    50%{
        transform: translate3d(400px, 0px, 0);
    }
    75%{
        transform: translate3d(500px, -150px, 0);
    }
    100%{
        transform: translate3d(600px, 0px,0);
    }
}