
.bckgrd{
    background-color: blue;
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    position: absolute;
}
.ball{
    position: relative;
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 75px;   
    animation: X-dir 3s linear infinite, Y-dir 1s ease-out infinite alternate;
}
@keyframes X-dir{
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes Y-dir{
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}